<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head.ejs') %> 
</head>
<body>
  <%- include('../partials/header.ejs') %> 
  <main class="container">
    <div class="col-md-8 col-lg-5 mx-auto">
      <!-- <form action="/api/productos" method="post"> -->
      <form onsubmit="return sendData()">
        <fieldset class="card">
          <div class="card-header bg-success text-light">Ingresa un nuevo producto</div>
          <div class="card-body">
            <div class="mb-3">
              <label for="title" class="form-label">Titulo</label>
              <input type="text" name="title" id="title" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Precio</label>
              <input type="number" name="price" id="price" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="thumbnail" class="form-label">Nombre de la imagen</label>
              <input type="text" name="thumbnail" id="thumbnail" class="form-control" />
              <small class="text-black-50">Ingresar n&deg; desde el 01 al 16 (01, 02, 03, etc.)</small>
            </div>
            <input type="hidden" id="form" name="form" value="1" />
            <button class="btn btn-primary btn-lg float-right mt-3">Agregar producto</button>
          </div>
        </fieldset>
      </form>
    </div>
    <hr class="mt-5 mb-5" />
    <h3 class="mb-5">Listado de productos</h3>
    <%if (productos.length) { %>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody>
        <% for(const prod of productos) { %>
        <tr>
          <th scope="row"><%=prod.id%></th>
          <td><%=prod.title%></td>
          <td><%=prod.price%></td>
          <td>
            <img src="https://cdn1.iconfinder.com/data/icons/fruit-39/128/FRUIT_2-<%=prod.thumbnail%>-128.png" />
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <% } else { %>
    <div class="alert alert-danger mb-5">
      <strong>No hay productos!</strong>
    </div>
    <% } %>

  </main>
</body>
</html>